@CHARSET "ISO-8859-1";

/**************
http://www.bennadel.com/
**************/

		html,
		body {
			margin: 0px 0px 0px 0px ;
			padding: 0px 0px 0px 0px ;
			}
 
		#site-body-container {}
 
		#site-body-content {
			padding: 15px 15px 15px 15px ;
			}
 
		#site-bottom-bar {
			/*background-color: #EEEEEE ;*/
			/*border-top: 1px solid #000000 ;*/
			bottom: 0px ;
			font-family: verdana, arial ;
			font-size: 11px ;
			height: 64px ;
			position: fixed ;
			width: 80px;
			z-index: 1000 ;
			/*margin-right: 20px !important; */
			}
 
		#site-bottom-bar-frame {
			height: 30px ;
			margin: 0px 10px 0px 10px ;
			position: relative ;
			}
 
		#site-bottom-bar-content {
			padding: 3px 0px 0px 0px ;
			}
 
		#menu-root {
		 	/*background-image: url(../images/logo32.png);*/
			/*background-color: #CEDAEA ;*/
			/*border: 1px solid #000000 ;*/
			color: #AAAAAA ;
			display: block ;
			height: 64px ;
			line-height: 22px ;
			text-align: center ;
			text-decoration: none ;
			width: 70px ;
			border-radius: 4px;
			}
 
		#menu-root:hover {
			background-color: #FFFFFF ;
			/*border-color: #000000 ;*/
			color: #FFFFFF ;
			border: 1px solid #AAAAAA ;
			}
			
		.menu-root-hover {
			background-color: #FFFFFF ;
			color: #FFFFFF ;
			border: 1px solid #AAAAAA ;
		}
			
 
		#menu {
			background-color: #FFFFFF ;
			border: 1px solid #AAAAAA ;
			bottom: 32px ;
			display: none ;
			left: 0px ;
			padding: 5px 5px 1px 5px ;
			position: absolute ;
			width: 200px ;
			border-radius: 4px;
			font-style: italic ;
			}
 
		#menu a {
			background-color: #CEDAEA ;
			border: 1px solid #FFFFFF ;
			color: #000000 ;
			display: block ;
			margin-bottom: 4px ;
			padding: 5px 0px 5px 5px ;
			text-decoration: none ;
			border-radius: 4px;
			
			}
 
		#menu a:hover {
			background-color: #666666 ;
			border-color: #AAAAAA ;
			color: #FFFFFF ;
			}

 
		/* -------------------------------------------------- */
		/* -- IE 6 FIXED POSITION HACK ---------------------- */
		/* -------------------------------------------------- */
 
		html,
		body,
		#site-body-container {
			_height: 100% ;
			_overflow: hidden ;
			_width: 100% ;
			}
 
		#site-body-container {
			_overflow-y: scroll ;
			_overflow-x: hidden ;
			_position: relative ;
			}
 
		/* To make up for scroll-bar. */
		#site-bottom-bar {
			_bottom: -1px ;
			_position: absolute ;
			_right: 16px ;
			}
 
		/* To make up for overflow left. */
		#site-bottom-bar-frame {
			_margin-left: 26px ;
			}
 
		/* To fix IE6 display bugs. */
		#menu a {
			_display: inline-block ;
			_width: 99% ;
			}