@CHARSET "ISO-8859-1";

   
   .CodeMirror {
        float: left;
        width: 950px;
        height: 400px;
        border: 1px solid #BBBBBB;
        margin: 10px;
        -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
        margin-bottom: 20px;
        background-color: lightyellow;
        
        margin-right:40px;
      }
      
      .CodeMirror-scroll {
              height: 400px;
              
      }
