@CHARSET "ISO-8859-1";

/* .CodeMirror {border-top: 1px solid black; border-bottom: 1px solid black;}*/
.activeline {
	background: #f0fcff !important;
}

.error{ color: red; }

.fullscreen {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	margin: 0;
	padding: 0;
	border: 0px solid #BBBBBB;
	opacity: 1;
	background-image: url('../images/mega_bg.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	/*margin-top: 50px;*/
}

#save-status {
	top: 5px ;
	position: fixed ;
	right: 25px;
	z-index: 1000 ;
	color:#AAAAAA;
}


#save-loading {
	top: 200px ;
	position: fixed ;
	left: 50%;
	z-index: 1000 ;
}



.text {
	font-size: 12px!important;
}

.invisible-table{ margin: 0px; !important}

.ui-widget {
	font-size: 12px!important;
}

.chat {
	width: 300px;
	bottom: 0;
	direction: ltr;
	position: fixed;
	right: 15px;
	z-index: 1001;
}

.chat-button {
	text-align: center;
	border-color: #999;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	color: #333;
	background: #EEEEEE;
	display: block;
	height: 15px;
	font-weight: bold;
	padding: 4px 5px;
	position: relative;
	z-index: 1000;
	text-decoration: none;
}

.chat-button:hover {
	background: #BBBBBB;
}

#comments-list {
	height: 300px;
	overflow: auto;
	background-color: #FFFFFF;
	border: 1px solid #cccccc;
	font-family: monospace;
}

textarea#comment {
	width: 290px;
	height: 60px;
	border: 0px;
	font-size: 120%;
	font-family: Tahoma, sans-serif;
	background-color: #FFFFFF;
	resize: none;
	outline: none;
	overflow: auto;
}

#comments-text-wrapper {
	background-color: #FFFFFF;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
}

#comment-top {
	height: 18px;
	/*font-size: 120%;*/
	text-align: center;
	color: white;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}